@prefix: ~"vue-bigdata-table";

@keyframes scroll-tip{
	0% {
		background: #fff;
	}
	50% {
		background: #d0e8ff;
	}
}

.@{prefix}{
    &-outer{
        width: 100%;
        height: 100%;
        overflow: auto;
        border: 1px solid #e9eaec;
        box-sizing: border-box;
        position: relative;
        .@{prefix}-header-wrapper{
            box-sizing: border-box;
            z-index: 70;
            table{
                table-layout: fixed;
                height: 100%;
                tr th{
                    border-right: 1px solid #e9eaec;
                    border-bottom: 1px solid #e9eaec;
                    background: #fff;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-break: break-all;
                    &:last-child{
                        border-right: none;
                    }
                    .@{prefix}-header-inside-wrapper{
                        box-sizing: border-box;
                        padding: 0 8px;
                    }
                }
            }
        }
    }

    &-fixed-header{
        position: sticky;
        transform: translateX(0);
        left: 0;
        z-index:110;
				transition: box-shadow .2s ease;
				&.box-shdow{
					box-shadow: 2px 0 6px -2px rgba(0,0,0,.2);
					transition: box-shadow .2s ease;
				}
    }

    width: 100%;
    padding-top: 1px;
    box-sizing: border-box;
    &-wrapper{
        width: 100%;
        border-bottom: none;

        .@{prefix}-content{
            width: 100%;
            height: auto;
        }

        &:nth-child(2){
            border-top: 1px solid #e9eaec;
        }
        &:nth-child(4){
            border-bottom: 1px solid #e9eaec;
        }
        .@{prefix}-data-table{
            &.@{prefix}-content-table{

                left: 0;
                top: 0;
            }
            border-bottom: none;
            border-top: none;
            table-layout: fixed;
            tr{
                background: #fff;
                &.scroll-to-row-tip{
                    animation: scroll-tip .6s 3;
                }
                td{
                    min-width: 0;
                    height: 48px;
                    box-sizing: border-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    vertical-align: middle;
                    border-bottom: 1px solid #e9eaec;
                    border-right: 1px solid #e9eaec;
                    .@{prefix}-cell{
                        box-sizing: border-box;
                        padding: 0 18px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-break: break-all;
                    }
                    &:last-child{
                        border-right: none;
                    }
										.edit-item-con{
											width: 100%;
											text-align: left;
											padding: 0 6px;
											box-sizing: border-box;
											.edit-item{
												&-input{
													width: ~"calc(100% - 50px)";
													float: left;
												}
												&-btn-con{
													float: left;
													.edit-btn{
														width: 20px;
														margin-top: 4px;
													}
												}
											}
										}
                }
                &.stripe-gray{
                    background: #f8f8f9;
                }
            }
            &-left{
                text-align: left;
            }
            &-center{
                text-align: center;
            }
            &-right{
                text-align: right;
            }
        }
    }

    &-fixed{
        .@{prefix}-header-wrapper{
            top: 0;
            left: 0;
            box-sizing: border-box;
        }
    }

    &-fixed-table{
				transition: box-shadow .2s ease;
				&.box-shdow{
					box-shadow: 2px 0 6px -2px rgba(0,0,0,.2);
					transition: box-shadow .2s ease;
				}
        td{
            border-right: 1px solid #e9eaec !important;
        }
    }

    &-item-table{
        position: relative;
    }
}
